
{% if page_obj.has_other_pages %}
    <p class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">« Əvvəlki</a>
        {% else %}
            <span class="disabled">« Əvvəlki</span>
        {% endif %}

        <span class="current">
            Səhifə {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Sonrakı »</a>
        {% else %}
            <span class="disabled">Sonrakı »</span>
        {% endif %}
    </p>
{% endif %}
        